  {% if page.series %}
    {% assign seriesPosts = site.categories[page.series] | reverse %}
    {% assign seriesSize = seriesPosts | size %}
    {% if seriesSize < 2 %}
      {% assign seriesPosts = false %}
    {% endif %}
    {% assign accum = 1 %}
    {% for post in seriesPosts %}
      {% if post.title != page.title %}
        {% assign accum = accum | plus: 1 %}
      {% else %}
        {% assign postNumber = accum %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% assign seriesPosts = false %}
  {% endif %}

  {% if seriesPosts and postNumber > 1 %}
  <div class="series-statement">
    <p>This article is part {{ postNumber }} of a series. If you have not read the previous parts, you may find links to the other articles in this series <a href="#TOC">below</a>.</p>

  </div>
  {% endif %}