li.post{
    display: block;
    padding-top: 1rem;
}

.post{
    padding-bottom: 1rem;
}



img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 100%;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
}

$link: #888;

.post-container{
    p, li{
        a{
            @include link-style;
        }
      }
      
}

.categories{
    p{
        display: inline-block;
    }
    a{
        @include link-style;
    }
}

article::after{
    display: block;
    content: '';
    width: 5rem;
    height: 1px;
    margin: 30px auto;
    background-color: #d5d5d5;
}

.series-statement {
  outline: 1px solid #ddd;
  margin: 0.5em;
  padding: 0 0.5em;
  font-style: italic;
  background: #fafafa
}

#TOC {
    a{
        @include link-style;
    }
    ol{
        list-style-type: none;
        margin-left: 0;

        li {
            counter-increment: toccounter;

            &::before{
                content: counter(toccounter) '.';
                font-weight: bold;
                width: 2em;
            }

            &.active-post::before{
                font-weight: normal;
                font-style: italic;
            }
        }

        &:first-child{
            counter-reset: toccounter;
        }
    }
}

.asset-card {
  & ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
  }
}

.prose {
    // font-style: italic;
    padding-left: 1em;
    border-left: 1px solid #888;

}